.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-image: black;
}

.form-signin {
  max-width: 300px;
}
.form-signin-login {
  padding: 90px 29px 29px;
  margin: 60px auto 0px 6px;
}
.form-signin input[type="text"],
.form-signin input[type="email"],
.form-signin input[type="password"] {
  font-size: 14px;
  text-align: center;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.css-form input.ng-invalid.ng-touched {
  border-style: solid;
  border-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
  /*border-color: #78FA89;*/
}

/* Custom page footer */
.footer {
  color: #777;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.menuTab h2 {
  text-align: center;
}
