<div>
  <div class="tab-content">
    <div id="homeBar" class="row">
      <div class="col-md-4">
        <span ng-click="">SeatingChart</span>
        <button class="btn btn-large btn-primary" type="submit" ng-click="">back</button>
        <button class="btn btn-large btn-primary" type="submit" ng-click="">next</button>
        <button class="btn btn-large btn-primary" type="submit" ng-click="">save</button>
      </div>
      <div class="col-md-2" style="margin-top: 7px;">
        <span>Event Name</span>
      </div>
      <div class="btn-group col-md-3">
        <label class="btn btn-primary" id="DMBack" ng-class="{'active':!isFullScreen}">
          <input type="radio" name="options" autocomplete="off" value="DMBack" ng-model="displayMode" ng-checked="!isFullScreen">Backend
        </label>
        <label class="btn btn-primary" id="DMFront" ng-class="{'active':isFullScreen}">
          <input type="radio" name="options" autocomplete="off" value="DMFront" ng-model="displayMode" ng-click="goFullScreen()" ng-checked="isFullScreen">Frontend
        </label>
      </div>
      <div class="col-md-3">
        <button class="btn btn-large btn-primary" type="submit" ng-click="">Print</button>
        <button class="btn btn-large btn-primary" type="submit">Import</button>
      </div>
    </div>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="guests">
      <div style="padding-top: 10px;">
        <div class="row">
          <div class="form-group col-xs-2" style="border-right: 2px solid;">
            <input class="form-control" ng-model="searchedGuest" placeholder="Rechercher"/>
            <span class="glyphicon glyphicon-search" aria-hidden="true"> </span>
          </div>
          <div class="form-group col-xs-2">
            <button class="btn btn-large btn-primary" type="submit" ng-click="addGuest()">Nouveau invité</button>
          </div>
        </div>
      </div>
      <div>
        <table id="guestTable" class="table table-bordered table-sm table-striped table-hover">
          <thead>
            <tr>
              <th><input class="form-check-input" type="checkbox" value="" ng-click="toggleAllGuests(!isSelectedAllGuests)"></th>
              <th></th>
              <th>Titre</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Place</th>
              <th>Téléphone</th>
              <th>Email</th>
              <th>Commentaires</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="guest in guests | orderBy:['firstName','name','title','position'] | searchedGuestFilter:searchedGuest" ng-click="">
              <td><input class="form-check-input" type="checkbox" value="guest._id" ng-model="guest.selected"></td>
              <td><span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteGuest(guest)" style="cursor: pointer;"> </span></td>
              <td>{{guest.title | labelTitleFilter:titles}}</td>
              <td>{{guest.name}}</td>
              <td>{{guest.firstName}}</td>
              <td>{{guest.position}}</td>
              <td>{{guest.phoneNumber}}</td>
              <td>{{guest.email}}</td>
              <td>{{guest.comment}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane active" id="map">
      <div class="dropdown" style="padding-top: 10px; padding-bottom: 10px;">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Ajouter une table
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li class="dropdown-submenu">
            <a tabindex="-1" href="#">Rectangle<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a tabindex="-1" href="#" ng-click="addTable('R3')">3 places</a></li>
              <li><a tabindex="-1" ng-click="addTable('R4')">4 places</a></li>
              <li><a tabindex="-1" ng-click="addTable('R6')">6 places</a></li>
              <li><a tabindex="-1" ng-click="addTable('R8')">8 places</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a tabindex="-1" href="#">Ronde<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a tabindex="-1" href="#" ng-click="addTable('C8')">8 places</a></li>
            </ul>
          </li>
        </ul>
        <button ng-click="triggerPosition()">Déclencher la position</button><br/>
      </div>

      <div id="myFlexDiv">
        <div id="myGuests" style="border: solid 1px black"></div>
        <!-- a go-diagram element referring to the model, originally written as: -->
        <!-- &lt;go-diagram go-model="model" style="border: solid 1px blue; width:100%; height:400px"&gt;&lt;/go-diagram&gt; -->
        <go-diagram go-model="model" guest-list="guestList" style="border: solid 1px black;"></go-diagram>
      </div>
      
      list guest : {{guestList.nodeDataArray}}
      <br/>
      guest selected : {{guestList.selectedNodeData}}
      <br/>
      Number of node data: {{model.nodeDataArray.length}}
      <br />
      Alpha node location: {{model.findNodeDataForKey(1).loc}}
      <br />
      Selected node: {{model.selectedNodeData.key}}  <input type="text" ng-model="model.selectedNodeData.name"></input>
      <br />
      Number of link data: {{model.linkDataArray.length}}
      <br/>
      model.nodeDataArray : {{model.nodeDataArray}}
      <br/>
      model : {{model}}
      <p>
      <p>
      You can also replace the <a>Diagram.model</a> just by setting the "model" property on the $scope,
      since the "goDiagram" directive watches that property for changes.
      </p>
      <button ng-click="replaceModel()">Replace Model</button>
    </div>
  </div>
</div>