<div id="howitwork" class="menuTab">
	<h2>Comment ça marche</h2>

	<div class="row">
		<div class="span6">
			<div><b>Importer/Exporter vos plans de tables</b></div>
			<div>Importez/Exporter facilement votre liste d'invités au format CSV, liste que vous pourrez réimporter tel quelle en tant que liste d'invités.</div>
		</div>
		<div class="span6">
		image
		</div>
	</div>
	<div class="row">
		<div class="span6">
		image
		</div>
		<div class="span6">
			<div><b>Gérer la liste des invités</b></div>
			<div>Gérez votre liste, augmentez sa capacité, triez vos invités, vérifiez vos statistiques, notifiez leur présence...</div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<div><b>Ajouter des objets</b></div>
			<div>Pour plus de réalisme, ajoutez des objets paramétrables et représentant des éléments de votre réception tel que: piste de danse, orchestre, bar ..</div>
		</div>
		<div class="span6">
		image
		</div>
	</div>
	<div class="row">
		<div class="span6">
			image
		</div>
		<div class="span6">
			<div><b>Créer vos tables &amp; chaises</b></div>
			<div>
				Créez vos tables selon différentes formes (Carré, Rectangle, Ronde, Banquet) et choisissez le nombre de places pour chacune d'elles<br>
				Paramétrez chaque table en lui donnant un nom<br>
				Glissez / Déposez-les ensuite à l'endroit où vous désirer, dans la zone représentant le lieu de votre événement<br>
				Pour les supprimer ou les modifier, utilisez un menu contextuel accessible via le clic droit de la souris
			</div>
		</div>
	</div>
</div>