<div class="container">
	<div id="loginForm" ng-show="!isSubscription">
		<form name="userForm" class="css-form form-signin form-signin-login" novalidate>
			<label>Faites de votre mariage le plus beaux jours de votre vie et ceux de vos proches</label>
			<input type="email" name="email" class="form-control" placeholder="Email" ng-model="user.email" required>
			<input type="password" name="password" class="form-control" placeholder="Mot de passe" ng-model="user.password" required>
			<button class="btn btn-large btn-primary" type="submit" ng-disabled="userForm.$invalid" ng-click="submitLogin(user)">GO</button>
			<a class="pull-right" ng-click="isSubscription = true" style="cursor: pointer;">Créer un compte</a>
		</form>
	</div>
	<div id="subscriptionForm" ng-show="isSubscription">
		<form name="subscriptionForm" class="css-form form-signin form-signin-login" novalidate>
			<label>Création de compte</label>
			<input type="text" name="lastName" class="form-control" placeholder="Nom" ng-model="user.lastName" required>
			<input type="text" name="firstName" class="form-control" placeholder="Prénom" ng-model="user.firstName" required>
			<input type="email" name="email" class="form-control" placeholder="Email" ng-model="user.email" required>
			<input type="text" name="phoneNumber" class="form-control" placeholder="Numéro de téléphone" ng-model="user.phoneNumber" required>
			<input type="password" name="password" class="form-control" placeholder="Mot de passe" ng-model="user.password" required>
			<input type="password" name="passwordCnf" class="form-control" placeholder="Confirmation mot de passe" required>
			
			<!--<input type="text" name="name" class="form-control"  ng-model="user.name" ng-value="user.name" required>
			<input type="text" name="firstName" class="form-control" ng-model="user.firstName" ng-value="user.firstName" required>
			<input type="email" name="email" class="form-control"  ng-model="user.username" ng-value="user.username" required>
			<input type="text" name="phoneNumber" class="form-control"  ng-model="user.phoneNumber" ng-value="user.phoneNumber" required>
			<input type="password" name="password" class="form-control"  ng-model="user.password" ng-value="user.password" required>-->
			
			<button class="btn btn-large btn-primary" type="submit" ng-disabled="subscriptionForm.$invalid" ng-click="submitSubscription(user)">Valider</button>
		</form>
	</div>
</div>