<div id="myspace">
	<h3>Mes événements</h3>
	
	<form name="addEventForm" class="css-form form-signin-myspace" novalidate ng-show="!isRoomManager">
		<div class="row">
			<div class="form-group col-xs-2">
				<input type="text" name="id" class="form-control" placeholder="Code event." ng-model="event._id" required>
			</div>
			<div class="form-group col-xs-1">
				<button class="btn btn-large btn-primary" type="submit" ng-disabled="addEventForm.$invalid" ng-click="addEvent(event)">Ajouter un événement</button>
			</div>
		</div>
	</form>

	<button class="btn btn-large btn-primary" ng-click="sendMail()" ng-show="false">Send mail</button>
 
    <div class="container">
      	<ul class="nav nav-tabs" id="myTabs">
        	<li class="active">
        		<a href="#events" ng-click="eventState=EVENTSTATES.ALL" data-toggle="tab">Tous</a>
        	</li>
            <li>
            	<a href="#events" ng-click="eventState=EVENTSTATES.INPROGRESS" data-toggle="tab">En cours</a>
            </li>
            <li>
             	<a href="#events" ng-click="eventState=EVENTSTATES.DONE" data-toggle="tab">Terminés</a>
            </li>
            <li ng-show="isRoomManager">
            	<a href="#eventCreation" data-toggle="tab">Creer un événement</a>
            </li>
       	</ul>
    	<!-- Tab panes -->
        <div class="tab-content">
            <div id="events" class="tab-pane fade in active">
            	<br>
            	
				<div class="row">
            		<tr>
						<div class="form-group col-xs-3">
        					<td><input class="form-control" ng-model="searchedEvt" placeholder="Rechercher un événement"/></td>
        				</div>
			        </tr>	
				</div>
				<table id="eventTable" class="table table-sm table-striped table-hover">
					<thead>
						<tr>
							<th>Événements</th>
							<th>Lieux</th>
							<th>Dates</th>
							<th>Nombre d’invités</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="event in events | orderBy:['name','where','startDate',guestNumber] | searchedEvtFilter:searchedEvt:eventState:EVENTSTATES">
							<td>{{event.name}}</td>
							<td>{{event.where}}</td>
							<td>{{event.startDate | date : "dd/MM/yyyy"}}</td>
							<td>{{event.guestNumber}}</td>
							<td><button class="btn btn-large btn-primary" type="submit" ng-click="goToRoom(event)">Modifier</button></td>
						</tr>
					</tbody>
				</table>
            </div>

            <div class="tab-pane fade" id="eventCreation">
            	<br>
            	<form name="createEventForm" class="css-form form-signin-myspace" novalidate ng-show="isRoomManager">
					<div class="row">
						<div class="form-group col-xs-3">
							<input type="text" name="name" class="form-control" placeholder="Nom événement" ng-model="newEvent.name" required>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-3">
							<select name="room" class="form-control" ng-model="newEvent.where" ng-options="room._id as room.name for room in rooms"/>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-3">
							<p class="input-group">
          						<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="newEvent.startDate" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          						<span class="input-group-btn">
            						<button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
          						</span>
        					</p>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-2">
							<input type="number" min="0" name=guestNumber class="form-control" placeholder="Nb d'invités" ng-model="newEvent.guestNumber" required>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-3">
							<input type="email" min="0" name=bookerEmail class="form-control" placeholder="Email du réserveur" ng-model="newEvent.bookerEmail" required>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-1">
							<button class="btn btn-large btn-primary" type="submit" ng-disabled="createEventForm.$invalid" ng-click="createEvent(newEvent)">Créer</button>
						</div>
					</div>
				</form>
            </div>
      	</div>
	</div>
</div>
